* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.text-light-gray {
    color: #727272;

}

.sectiontitle {
    color: #131313;
    font-size: 2.3rem;
    font-weight: 700;
}



header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;

}

nav li {
    list-style:
        none;
    margin-right: 20px;
    font-weight: 500;
    font-size: 18px;

}

nav li a {
    text-decoration: none;
    color: #424242;
}

main {
    max-width: 1440px;
    margin: 70PX auto;
}

.bannercontent {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.bannertitle {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.bannerdescription {
    color: #727272;

}

.button-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: 0;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* <!-- feature section --> */

.team-section {
    display: flex;
    align-items: center;
}

.teamimages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

}

.teamshow {
    padding-left: 70px;
    padding-right: 70px;
}

.team-title {
    font-size: 2.8rem;
}

.quiclist {
    font-weight: 500;

}

.teamstext {
    color: #FF900E;
    font-weight: 700;
}

/* facts-style */
.factscardcontainer {
    display: flex;
    justify-content: space-around;
}

.factscardcontainer .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center; 
    padding: 30px;
}

.factscardcontainer .cardstats {
    color: #424242;
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 10px ;
}
.factscardcontainer .cardtitle{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px
}






/* responsive styles */

@media screen and (max-width: 576px) {

    header {
        padding: 20px;
    }

    nav,
    .team-section {
        flex-direction: column;
    }

    .teamimages {
        grid-template-columns: 1fr;
    }

    .teamshow {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {

    header {
        padding: 50px;
    }

    nav,
    .team-section {
        flex-direction: column;
    }
}